include src/parser.c
include src/grammar.json
include src/node-types.json
include src/tree_sitter/parser.h
include src/tree_sitter/alloc.h
include src/tree_sitter/array.h
recursive-include queries *.scm
include bindings/python/tree_sitter_microscript/binding.c
